:root{
    --primary: rgb(37,37,38);
    --primary-dark: rgb(30,30,30);
    --secondary: rgb(240,240,240);
    --yellow: rgb(241, 230, 84);
    --purple: rgb(199,77,237);
    --purple2: rgb(214, 38, 114);
    --blue:  rgb(10, 232, 198);
    --green: rgb(119, 224, 101);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

body{
    background-color: rgb(37,37,38);
    color: var(--secondary);
}


.content{
    text-align: center;
}

/* #menuBoton{
    font-size: 30px;
    padding: 10px;
    border:none;
    color:rgb(119, 224, 101);
    background-color: rgb(37,37,38);
    cursor: pointer;
    float:left;
} */

hr{
    width: 70%;
    margin:auto;
    border: 1.5px solid var(--primary-dark);
}

.white-hr{
    border: 1px solid var(--secondary);
}

#title{
    width: 100%;
    text-align:center;
    font-size: 100px;
    color: var(--purple2);
}


.yellow{
    color: var(--yellow);
}

.green{
    color: var(--green);
}

.purple{
    color: var(--purple);
}

.blue{
    color: var(--blue));
}

h2{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

h3{
    padding: 10px;
}

footer{
    text-align: center;
    background-color: rgb(30,30,30);
    color: rgb(240,240,240);
}

#portfolio{
    background-color: rgb(30,30,30);
    padding: 30px;
}

#portfolio button{
    display:inline-block;
    border:none;
    box-shadow: 0 0 5px rgb(240,240,240);
    overflow: hidden;
    max-width: 400px;
    margin: 20px;
    cursor: pointer;
    /* reemplazar luego */
    width: 400px;
    height: 300px;
}

#habilidades {
    padding: 30px;
}

#habilidades img{
    width: 120px;
    height: 120px;
}

#habilidades div{
    display: grid;
    grid-row-gap: 100px;
    margin: 20px;
    grid-template-columns:200px 200px;
    justify-content: center;
    justify-items: center;
}

.boton{
    padding: 20px;
}

#sobremi{
    background-color: rgb(30,30,30);
    padding: 30px;
}

#sobremi p{
    padding: 10px;
}

#sobremi a{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: rgb(30,30,30);
    background-color: rgb(240,240,240);
    border-radius: 20px;
    transition: 0.3s;
}

#sobremi a:hover{
    font-weight: bolder;
    border-radius: 15px;
    background-color: rgb(199,77,237);
}

form{
    display: block;
}

form label{
    display: block;
    margin: 10px auto;
    width: 50%;
    font-weight: bold;
}

input{
    margin: 10px;
    padding: 10px 60px;
    width: 100%;
}

textarea{
    margin: 10px;
    padding: 50px;
    width: 100%;
}

form button{
    width: 100px;
    height: 50px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(30,30,30);
    background-color: rgb(240,240,240);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }

  form button:hover{
    font-weight: bolder;
    border-radius: 15px;
    background-color: rgb(199,77,237);
  }

  #social-media{
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 15px;
  }

  #social-media a{
    padding: 10px;
  }

  #social-media img{
    color: rgb(30,30,30);
    background-color: rgb(240,240,240);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }

  #social-media img:hover{
    border-radius: 15px;
    background-color: rgb(199,77,237);
  }

.show{
    left: 0;
}